:root {
  --colorCorrect: #88ff52;
  --colorError: #ff0000;
}

.container {
  width: 100%;
  padding: 10px;
}

.input {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  transition: all 0.4s ease-in;

  @nest .error & {
    border: 2px solid var(--colorError);
    outline-color: var(--colorError);
  }

  @nest .correct & {
    border: 2px solid var(--colorCorrect);
    outline-color: var(--colorCorrect);
  }
}

.feedback {
  margin-top: 10px;
  color: #dd0000;
}
